export(bg.checks,
bgeva.gIMa,
bgeva.gIMb,
bgeva,
plot.bgeva,
print.bgeva,
print.summary.bgeva,
S.m,
summary.bgeva,
working.comp)


importFrom(magic, adiag)
importFrom(trust,trust)
import(mgcv)

S3method(plot, bgeva)
S3method(summary, bgeva)
S3method(print, bgeva)
S3method(print, summary.bgeva)

importFrom(stats, binomial, coef, model.matrix, pchisq, pnorm, printCoefmat)